body {
    font-family: Verdana, Helvetica, "sans-serif";
    font-size: 0.8em;

    padding: 1em;
    margin-left: 1em;
    color: rgb(35, 35, 0);
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 1em;
}

.column {
    -webkit-column-width: 5em;
    -moz-column-width: 5em;
    column-width: 5em;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
    -moz-column-fill: auto;
    column-fill: auto;
}

.cell {
    height: 2em;
    width: 3em;
    padding: 0.5em 1em;
    font-family: Monaco, Helvetica, "sans-serif";
}

.protocell {
  visibility: hidden;
}

.fun {
    background: #ff49ba;
    color: #fffd6c;
    border: 1px solid #AF44AF;
    width: 7em;
    height: 4.5em;
    font-size: 1.6em;
    line-height: 5em;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
    font-family: Verdana, Monaco, Helvetica, "sans-serif";
}